STRIDEBR_APP_ENV=development
STRIDEBR_HTTP_PORT=8080
STRIDEBR_DB_EXPOSED_PORT=5434
STRIDEBR_DB_HOST=postgres
STRIDEBR_DB_PORT=5432
STRIDEBR_DB_NAME=stridebr
STRIDEBR_DB_USER=stridebr
STRIDEBR_DB_PASSWORD=stridebr_dev

STRIDEBR_APP_URL=http://localhost:8080
STRIDEBR_MAIL_FROM=
STRIDEBR_MAIL_FROM_NAME=StrideBR
STRIDEBR_TERMS_VERSION=2026-08-15-alpha-1
STRIDEBR_PRIVACY_VERSION=2026-08-15-alpha-1
