openapi: 3.0.3
info:
  title: StrideBR Core API
  version: v1
  description: API pública v1 usada pelo StrideBR App. Somente as rotas deste documento estão implementadas.
servers:
  - url: https://stridebr.com.br/api/v1
paths:
  /health:
    get:
      responses:
        '200': { description: API disponível }
  /meta:
    get:
      responses:
        '200':
          description: Metadados públicos da API e identificador opcional do build de deploy.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [api_version, server_time, build]
                    properties:
                      api_version: { type: string, example: v1 }
                      server_time: { type: string, format: date-time }
                      build: { type: string, maxLength: 80, nullable: true, description: Valor de STRIDEBR_BUILD quando configurado no deploy. }
  /auth/login:
    post:
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LoginRequest' }
      responses:
        '200': { description: Sessão criada }
        '401': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
        '429': { $ref: '#/components/responses/Error' }
  /auth/refresh:
    post:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token: { type: string }
      responses:
        '200': { description: Tokens rotacionados }
        '401': { $ref: '#/components/responses/Error' }
  /auth/logout:
    post:
      security: [{ bearerAuth: [] }]
      responses:
        '204': { description: Sessão revogada }
        '401': { $ref: '#/components/responses/Error' }
  /me:
    get:
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Usuário autenticado.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SelfProfileResponse' }
        '401': { $ref: '#/components/responses/Error' }
    patch:
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProfilePatchRequest' }
      responses:
        '200':
          description: Perfil atualizado.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SelfProfileResponse' }
        '401': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /me/privacy:
    get:
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Preferências de privacidade do usuário }
        '401': { $ref: '#/components/responses/Error' }
    patch:
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PrivacyPatchRequest' }
      responses:
        '200': { description: Preferências atualizadas }
        '401': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /sports:
    get:
      security: [{ bearerAuth: [] }]
      description: Catálogo completo de modalidades ativas registráveis. Inclui globais e custom do próprio usuário; não depende de Activities no período.
      parameters:
        - { name: q, in: query, schema: { type: string }, description: Busca por nome ou slug. }
        - { name: family, in: query, schema: { type: string }, description: Filtra pela família canônica. }
      responses:
        '200':
          description: Catálogo ordenado para seleção em Activity manual.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SportCatalogResponse' }
        '401': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /people/search:
    get:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: q, in: query, required: true, schema: { type: string } }
        - { name: type, in: query, schema: { type: string, enum: [all, friend, trainer], default: all } }
      responses:
        '200':
          description: Pessoas ativas e descobríveis; no máximo 20 resultados e sem dados privados.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PeopleSearchResponse' }
        '401': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /people/{id}:
    get:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: Perfil público seguro e estado de relação com o usuário atual.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PersonDetailResponse' }
        '401': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
  /people/friends:
    get:
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Amizades aceitas e solicitações incoming/outgoing.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FriendsResponse' }
        '401': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
  /people/friendships:
    post:
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id]
              properties:
                user_id: { type: string }
      responses:
        '201': { description: Solicitação criada. }
        '401': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
  /people/friendships/{id}/accept:
    post:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Solicitação recebida aceita. }
        '403': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
  /people/friendships/{id}/reject:
    post:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Solicitação recebida recusada e removida. }
        '403': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
  /people/friendships/{id}:
    delete:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Cancela outgoing pending ou remove amizade aceita; replay de ID inexistente é seguro para o participante. }
        '401': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
  /people/coaching:
    get:
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Treinadores, atletas e vínculos pending incoming/outgoing.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CoachingResponse' }
        '401': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
    post:
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id, role_for_me]
              properties:
                user_id: { type: string }
                role_for_me: { type: string, enum: [trainer, athlete] }
      responses:
        '201': { description: Convite/vínculo pending criado reutilizando o domínio Web. }
        '404': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /people/coaching/{id}/accept:
    post:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Vínculo pending recebido aceito. }
        '403': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
  /people/coaching/{id}/reject:
    post:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Vínculo pending recebido recusado, preservando histórico. }
        '403': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
  /people/coaching/{id}/permissions:
    patch:
      security: [{ bearerAuth: [] }]
      description: Somente o atleta do vínculo aceito controla as permissões concedidas ao treinador.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CoachingPermissionsPatch' }
      responses:
        '200': { description: Permissões atualizadas. }
        '403': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /people/coaching/{id}:
    delete:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Cancela convite enviado ou encerra vínculo aceito, preservando histórico de coaching. }
        '401': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
  /equipment:
    get:
      security: [{ bearerAuth: [] }]
      responses:
        '200': { description: Equipamentos do próprio usuário }
        '401': { $ref: '#/components/responses/Error' }
    post:
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/EquipmentMutationRequest' }
      responses:
        '201': { description: Equipamento criado }
        '401': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /equipment/{id}:
    patch:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/EquipmentMutationRequest' }
      responses:
        '200': { description: Equipamento atualizado }
        '404': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
    delete:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Equipamento arquivado; replay é seguro }
        '404': { $ref: '#/components/responses/Error' }
  /institutional/context:
    get:
      security: [{ bearerAuth: [] }]
      description: Contexto institucional athlete-safe do próprio usuário. A rota não existe quando STRIDEBR_TEAMS_ENABLED=false.
      responses:
        '200':
          description: Contexto institucional; my_teams pode ser vazio para usuário sem vínculo.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/InstitutionalAthleteContext' }
        '401': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
  /institutional/teams/{team_ref}/roster:
    parameters:
      - { name: team_ref, in: path, required: true, description: Referência opaca da Team; o cliente deve URL-encodar e reenviar sem interpretar., schema: { type: string } }
      - { name: season, in: query, required: true, description: Referência opaca da Season., schema: { type: string } }
    get:
      security: [{ bearerAuth: [] }]
      description: Roster athlete-safe somente de uma Team/Season à qual o usuário autenticado pertence.
      responses:
        '200':
          description: Athletes e staff em allowlist mínima.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/InstitutionalRoster' }
        '401': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /institutional/competitions:
    get:
      security: [{ bearerAuth: [] }]
      description: Competitions institucionais relevantes ao próprio atleta. Não inclui participantes de terceiros.
      responses:
        '200':
          description: Lista pequena, sem paginação artificial.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/InstitutionalCompetitionSummary' }
        '401': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
  /institutional/competitions/{competition_ref}:
    parameters:
      - { name: competition_ref, in: path, required: true, description: Referência opaca da Competition; o cliente deve URL-encodar e reenviar sem interpretar., schema: { type: string } }
    get:
      security: [{ bearerAuth: [] }]
      description: Detalhe athlete-safe com somente a Competition, organização, período, delegação e entries/results do próprio atleta.
      responses:
        '200':
          description: Competition institucional visível ao usuário autenticado.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/InstitutionalCompetitionDetail' }
        '401': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
  /workout-schedules:
    get:
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Cronogramas pessoais disponíveis para recorrência.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WorkoutScheduleContainerListResponse' }
        '401': { $ref: '#/components/responses/Error' }
    post:
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WorkoutScheduleContainerRequest' }
      responses:
        '201':
          description: Cronograma pessoal criado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/WorkoutScheduleContainer' }
        '401': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /workout-templates:
    get:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: page, in: query, schema: { type: integer, minimum: 1 } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100 } }
        - { name: q, in: query, schema: { type: string } }
        - { name: sport, in: query, schema: { type: string } }
      responses:
        '200':
          description: Biblioteca pessoal paginada.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WorkoutTemplateListResponse' }
        '401': { $ref: '#/components/responses/Error' }
    post:
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WorkoutTemplateWriteRequest' }
      responses:
        '201':
          description: Template criado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/WorkoutTemplateDetail' }
        '401': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /workout-templates/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Template completo ownership-scoped.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/WorkoutTemplateDetail' }
        '404': { $ref: '#/components/responses/Error' }
    patch:
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WorkoutTemplateWriteRequest' }
      responses:
        '200':
          description: Template atualizado atomicamente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/WorkoutTemplateDetail' }
        '409': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
    delete:
      security: [{ bearerAuth: [] }]
      responses:
        '204': { description: Template arquivado. }
        '409': { $ref: '#/components/responses/Error' }
  /exercises:
    get:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: q, in: query, schema: { type: string } }
        - { name: page, in: query, schema: { type: integer, minimum: 1 } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100 } }
        - { name: sport, in: query, schema: { type: string } }
        - { name: category, in: query, schema: { type: string } }
        - { name: muscle, in: query, schema: { type: string } }
      responses:
        '200':
          description: Catálogo do sistema mais exercícios pessoais visíveis ao usuário.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ExerciseListResponse' }
        '401': { $ref: '#/components/responses/Error' }
    post:
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ExerciseWriteRequest' }
      responses:
        '201':
          description: Exercício personalizado criado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/ExerciseCatalogItem' }
        '422': { $ref: '#/components/responses/Error' }
  /exercises/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Exercício acessível pelo usuário.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/ExerciseCatalogItem' }
        '404': { $ref: '#/components/responses/Error' }
    patch:
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ExerciseWriteRequest' }
      responses:
        '200':
          description: Exercício pessoal atualizado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/ExerciseCatalogItem' }
        '403': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
    delete:
      security: [{ bearerAuth: [] }]
      responses:
        '204': { description: Exercício pessoal arquivado. }
        '403': { $ref: '#/components/responses/Error' }
  /exercises/{id}/history:
    get:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 20, default: 5 } }
      responses:
        '200':
          description: Execuções reais recentes e melhor carga do exercício.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ExerciseHistoryResponse' }
        '404': { $ref: '#/components/responses/Error' }
  /workouts/schedule:
    get:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: from, in: query, required: true, schema: { type: string, format: date } }
        - { name: to, in: query, required: true, schema: { type: string, format: date } }
      responses:
        '200':
          description: Ocorrências pessoais no intervalo inclusivo, sem árvore completa de exercícios.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WorkoutScheduleResponse' }
        '401': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /workouts:
    post:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: Idempotency-Key, in: header, required: false, schema: { type: string, minLength: 8, maxLength: 128 }, description: Opcional; retries com o mesmo payload retornam o mesmo workout. }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WorkoutCreateRequest' }
      responses:
        '200': { description: Replay idempotente de workout previamente criado. }
        '201':
          description: Treino pessoal planejado.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/WorkoutDetail' }
        '401': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /workouts/templates:
    get:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: page, in: query, schema: { type: integer, minimum: 1 } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100 } }
        - { name: q, in: query, schema: { type: string } }
      responses:
        '200':
          description: Biblioteca pessoal de treinos reutilizáveis.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WorkoutTemplateListResponse' }
        '401': { $ref: '#/components/responses/Error' }
  /workouts/templates/{id}:
    get:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: Template completo ownership-scoped.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/WorkoutTemplateDetail' }
        '401': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
  /workouts/{id}:
    get:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, description: ID opaco retornado pelo calendário., schema: { type: string } }
      responses:
        '200':
          description: Detalhe do treino/ocorrência ownership-scoped.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/WorkoutDetail' }
        '401': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
    patch:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WorkoutUpdateRequest' }
      responses:
        '200': { description: Treino pessoal alterado }
        '401': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
    delete:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Cancelamento lógico do workout/ocorrência. }
        '409': { $ref: '#/components/responses/Error' }
  /workouts/{id}/complete:
    post:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Treino agendado marcado como concluído sem fabricar Activity }
        '401': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
  /workouts/{id}/cancel:
    post:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Ocorrência cancelada logicamente }
        '401': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
  /workout-sessions/current:
    get:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: history, in: query, schema: { type: integer, enum: [0, 1], default: 1 } }
      responses:
        '200':
          description: Sessão ativa do usuário; data é null quando não existe sessão em andamento.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    allOf: [{ $ref: '#/components/schemas/WorkoutSession' }]
                    nullable: true
        '401': { $ref: '#/components/responses/Error' }
        '503': { $ref: '#/components/responses/Error' }
  /workouts/{workout_id}/start:
    post:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: workout_id, in: path, required: true, description: ID opaco scheduled ou recurring., schema: { type: string } }
      responses:
        '201':
          description: Sessão iniciada com snapshot da prescrição.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/WorkoutSession' }
        '401': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /workouts/{workout_id}/quick-register:
    post:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: workout_id, in: path, required: true, schema: { type: string } }
        - { name: Idempotency-Key, in: header, required: true, schema: { type: string, minLength: 8, maxLength: 128 } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WorkoutQuickRegisterRequest' }
      responses:
        '201': { description: Activity canônica criada e workout conciliado. }
        '200': { description: Retry idempotente; retorna a Activity já criada. }
        '401': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /workout-sessions/{session_id}/sets/{set_id}:
    patch:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: session_id, in: path, required: true, schema: { type: string } }
        - { name: set_id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WorkoutSessionSetUpdateRequest' }
      responses:
        '200': { description: Série atualizada e sessão retornada. }
        '401': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /workout-sessions/{session_id}/sets/{set_id}/toggle:
    post:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: session_id, in: path, required: true, schema: { type: string } }
        - { name: set_id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WorkoutSessionToggleRequest' }
      responses:
        '200': { description: Estado da série alterado. }
        '401': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
  /workout-sessions/{session_id}/exercises/{exercise_id}/sets:
    post:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: session_id, in: path, required: true, schema: { type: string } }
        - { name: exercise_id, in: path, required: true, schema: { type: string } }
        - { name: Idempotency-Key, in: header, required: true, schema: { type: string, minLength: 8, maxLength: 128 } }
      responses:
        '201':
          description: Série extra criada; retorna session, set_id e reused dentro de data.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AppendSetResponse' }
        '200':
          description: Retry idempotente da mesma série extra, com o mesmo set_id e reused=true.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AppendSetResponse' }
        '404': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
  /workout-sessions/by-workout/{workout_id}:
    get:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: workout_id, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: Execução concluída do workout, somente com valores realizados; Quick Register retorna available=false, execution_mode=quick_register e exercises vazio.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/WorkoutExecutionSummary' }
        '401': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /workout-sessions/{session_id}/exercises/{exercise_id}/toggle:
    post:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: session_id, in: path, required: true, schema: { type: string } }
        - { name: exercise_id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WorkoutSessionToggleRequest' }
      responses:
        '200': { description: Exercício e suas séries alterados. }
        '401': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
  /workout-sessions/{session_id}/mark-all:
    post:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: session_id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WorkoutSessionToggleRequest' }
      responses:
        '200': { description: Todas as séries/exercícios marcados ou desmarcados. }
        '401': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
  /workout-sessions/{session_id}/finish:
    post:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: session_id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WorkoutSessionFinishRequest' }
      responses:
        '200':
          description: Sessão concluída. Retry após conclusão retorna a mesma Activity com reused=true.
        '401': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /workout-sessions/{session_id}/cancel:
    post:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: session_id, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Sessão em andamento cancelada sem apagar histórico. }
        '401': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
  /activities/manual:
    post:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: Idempotency-Key, in: header, required: true, schema: { type: string, minLength: 8, maxLength: 128 } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ManualActivityCreateRequest' }
      responses:
        '201':
          description: Activity manual criada; retorna ActivityDetail canônico e reused=false.
          headers:
            Location: { schema: { type: string }, description: 'Caminho relativo de GET /activities/{id}.' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ManualActivityCreateResponse' }
        '200':
          description: Retry idempotente; retorna a mesma Activity e reused=true.
          headers:
            Location: { schema: { type: string }, description: Caminho relativo da mesma Activity. }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ManualActivityCreateResponse' }
        '401': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /activities:
    get:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: page, in: query, schema: { type: integer, minimum: 1 } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100 } }
        - { name: sport, in: query, schema: { type: string } }
        - { name: from, in: query, schema: { type: string, format: date-time } }
        - { name: to, in: query, schema: { type: string, format: date-time } }
        - { name: q, in: query, schema: { type: string } }
      responses:
        '200':
          description: Atividades paginadas. Não inclui track GPS.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ActivityListResponse' }
        '401': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
    post:
      security: [{ bearerAuth: [] }]
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema: { type: string, minLength: 8, maxLength: 128 }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/GpsActivityCreateRequest' }
      responses:
        '201': { description: Atividade GPS criada }
        '200': { description: Reenvio idempotente; atividade existente retornada }
        '401': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /activities/{id}:
    get:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: Detalhe ownership-scoped. Track GPS somente quando persistido para a atividade.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/ActivityDetail' }
        '401': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
    patch:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ActivityPatchRequest' }
      responses:
        '200': { description: ActivityDetail canônico atualizado. }
        '404': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
    delete:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200': { description: Soft delete; replay para Activity já excluída do mesmo owner é seguro. }
        '404': { $ref: '#/components/responses/Error' }
  /progress/overview:
    get:
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/ProgressFrom' }
        - { $ref: '#/components/parameters/ProgressTo' }
        - { $ref: '#/components/parameters/ProgressSport' }
      responses:
        '200':
          description: Panorama do período e comparação com o período anterior de mesmo tamanho.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProgressOverviewResponse' }
        '401': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /progress/timeseries:
    get:
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/ProgressFrom' }
        - { $ref: '#/components/parameters/ProgressTo' }
        - { $ref: '#/components/parameters/ProgressSport' }
        - name: metric
          in: query
          required: true
          schema: { type: string, enum: [activities, duration, distance, elevation_gain, training_load, perceived_effort, strength_volume] }
        - name: bucket
          in: query
          required: true
          schema: { type: string, enum: [day, week, month] }
      responses:
        '200':
          description: Série temporal agregada. Semanas usam segunda a domingo e o primeiro/último bucket podem ser parciais.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProgressTimeseriesResponse' }
        '401': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /progress/sports:
    get:
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/ProgressFrom' }
        - { $ref: '#/components/parameters/ProgressTo' }
      responses:
        '200':
          description: Distribuição das Activities por modalidade canônica.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProgressSportsResponse' }
        '401': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /progress/calendar:
    get:
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/ProgressFrom' }
        - { $ref: '#/components/parameters/ProgressTo' }
        - { $ref: '#/components/parameters/ProgressSport' }
      responses:
        '200':
          description: Heatmap diário leve, sem Activities completas ou pontos GPS.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProgressCalendarResponse' }
        '401': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /progress/cardio:
    get:
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/ProgressFrom' }
        - { $ref: '#/components/parameters/ProgressTo' }
        - name: sport
          in: query
          required: true
          schema: { type: string }
        - name: bucket
          in: query
          schema: { type: string, enum: [day, week, month] }
      responses:
        '200':
          description: Progresso de modalidades com analytics de distância/tempo. O behavior vem de metrica_derivada canônica; pace_km usa pace e velocidade_kmh usa speed.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProgressCardioResponse' }
        '401': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /progress/strength:
    get:
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/ProgressFrom' }
        - { $ref: '#/components/parameters/ProgressTo' }
        - { $ref: '#/components/parameters/ProgressSport' }
      responses:
        '200':
          description: Resumo de força baseado em Activities canônicas e series_exercicio_atividade.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProgressStrengthResponse' }
        '401': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /progress/exercises:
    get:
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/ProgressFrom' }
        - { $ref: '#/components/parameters/ProgressTo' }
        - { name: q, in: query, schema: { type: string } }
        - { name: page, in: query, schema: { type: integer, minimum: 1, default: 1 } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 30 } }
      responses:
        '200':
          description: Exercícios realizados no período com melhor carga all-time e execução recente.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProgressExerciseListResponse' }
        '401': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /progress/exercises/{id}:
    get:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
        - { $ref: '#/components/parameters/ProgressFrom' }
        - { $ref: '#/components/parameters/ProgressTo' }
      responses:
        '200':
          description: Evolução temporal do exercício. best_load_kg usa a mesma definição da Training Platform.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProgressExerciseDetailResponse' }
        '401': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /progress/adherence:
    get:
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/ProgressFrom' }
        - { $ref: '#/components/parameters/ProgressTo' }
        - { $ref: '#/components/parameters/ProgressSport' }
      responses:
        '200':
          description: Planejado versus realizado usando a semântica canônica de planejamento do Core.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProgressAdherenceResponse' }
        '401': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /progress/dashboard:
    get:
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/ProgressFrom' }
        - { $ref: '#/components/parameters/ProgressTo' }
        - { $ref: '#/components/parameters/ProgressSport' }
      responses:
        '200':
          description: Payload composto para a primeira carga da aba Progresso, sem calendário diário.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProgressDashboardResponse' }
        '401': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }

  /activities/{id}/streams:
    get:
      security: [{ bearerAuth: [] }]
      description: Timeline esportiva privada alinhada por tempo ou distância. O Core não duplica latitude/longitude da rota. Activity antiga sem stream retorna lista vazia quando não há fonte reconstruível.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
        - { name: streams, in: query, schema: { type: string, example: 'pace,heart_rate,altitude,cadence' }, description: 'Lista CSV. Valores suportados: elapsed_time, moving_time, distance, speed, pace, heart_rate, altitude, elevation, grade, cadence, power, temperature.' }
        - { name: axis, in: query, schema: { type: string, enum: [time, distance], default: time } }
        - { name: resolution, in: query, schema: { type: string, enum: [raw, high, medium, low], default: medium } }
        - { name: max_points, in: query, schema: { type: integer, minimum: 50, maximum: 5000 }, description: Sobrescreve o limite de pontos. raw sem max_points pode retornar até 50000 samples. }
      responses:
        '200':
          description: Samples alinhados para gráfico interativo. Pausas são representadas por elapsed_ms/moving_ms e gaps explícitos.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ActivityStreamReadResponse' }
        '401': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
    put:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
        - { name: Idempotency-Key, in: header, required: true, schema: { type: string, minLength: 8, maxLength: 128 } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ActivityStreamBundleInput' }
      responses:
        '201':
          description: Bundle canônico criado ou substituído com nova Idempotency-Key.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ActivityStreamBundleSaveResponse' }
        '200':
          description: Retry idempotente do mesmo bundle.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ActivityStreamBundleSaveResponse' }
        '401': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /activities/{id}/splits:
    get:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
        - { name: distance_m, in: query, schema: { type: integer, minimum: 100, maximum: 100000, default: 1000 } }
      responses:
        '200':
          description: Splits automáticos derivados; não são manual laps.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ActivitySplitsResponse' }
        '401': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /activities/{id}/laps:
    get:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: Voltas persistidas, incluindo origin=manual ou import.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ActivityLapsResponse' }
        '401': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
    put:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ActivityLapsWriteRequest' }
      responses:
        '200':
          description: Conjunto de manual laps substituído atomicamente.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ActivityLapsResponse' }
        '401': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /activities/{id}/analysis:
    get:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
        - { name: recompute, in: query, schema: { type: integer, enum: [0, 1], default: 0 }, description: 1 força recálculo da versão atual. }
      responses:
        '200':
          description: Análise determinística versionada. Se os dados forem parciais, somente blocos suportados são preenchidos.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ActivityAnalysisResponse' }
        '401': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /zone-profiles:
    get:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: profile_type, in: query, schema: { type: string, enum: [heart_rate, pace] } }
      responses:
        '200':
          description: Perfis manuais do usuário; não existe perfil fisiológico inferido automaticamente.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/ZoneProfile' } }
        '401': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
    post:
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ZoneProfileWriteRequest' }
      responses:
        '201':
          description: Perfil criado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/ZoneProfile' }
        '401': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /zone-profiles/{id}:
    get:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: Perfil do owner.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/ZoneProfile' }
        '401': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
    patch:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ZoneProfilePatchRequest' }
      responses:
        '200':
          description: Perfil atualizado e cache de analysis do usuário invalidado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/ZoneProfile' }
        '401': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
    delete:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '204': { description: Perfil excluído. }
        '401': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
  /pacer-plans/generate:
    post:
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PacerGenerateRequest' }
      responses:
        '200':
          description: Blueprint determinístico não persistido.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/PacerBlueprint' }
        '401': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /pacer-plans:
    get:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: status, in: query, schema: { type: string, enum: [active, archived] } }
      responses:
        '200':
          description: Pacer Plans do owner.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/PacerPlan' } }
        '401': { $ref: '#/components/responses/Error' }
    post:
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PacerPlanWriteRequest' }
      responses:
        '201':
          description: Plano persistido.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/PacerPlan' }
        '401': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
  /pacer-plans/{id}:
    get:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: Pacer Plan completo do owner.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/PacerPlan' }
        '401': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
    patch:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PacerPlanPatchRequest' }
      responses:
        '200':
          description: Pacer Plan atualizado; version incrementada.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/PacerPlan' }
        '401': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }
    delete:
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '204': { description: Pacer Plan arquivado. }
        '401': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
  /pacer-plans/{id}/evaluate:
    post:
      security: [{ bearerAuth: [] }]
      description: Evaluator de referência para testes/simulação. O runtime durante a atividade deve ser reproduzido localmente pelo Mobile e não chamado continuamente.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PacerEvaluationInput' }
      responses:
        '200':
          description: Guidance determinístico e next_state da state machine.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/PacerEvaluation' }
        '401': { $ref: '#/components/responses/Error' }
        '404': { $ref: '#/components/responses/Error' }
        '409': { $ref: '#/components/responses/Error' }
        '422': { $ref: '#/components/responses/Error' }

components:
  parameters:
    ProgressFrom:
      name: from
      in: query
      description: Data civil inicial inclusiva em America/Sao_Paulo. Deve ser enviada com to. Sem ambos, o default é 28 dias.
      schema: { type: string, format: date }
    ProgressTo:
      name: to
      in: query
      description: Data civil final inclusiva em America/Sao_Paulo. Intervalo máximo de 1827 dias.
      schema: { type: string, format: date }
    ProgressSport:
      name: sport
      in: query
      description: ID ou slug canônico de modalidade ativa disponível ao usuário. Ausente significa todas as modalidades.
      schema: { type: string }
  securitySchemes:
    bearerAuth: { type: http, scheme: bearer }
  schemas:
    ProgressRange:
      type: object
      required: [from, to, days, timezone]
      properties:
        from: { type: string, format: date }
        to: { type: string, format: date }
        days: { type: integer, minimum: 1, maximum: 1827 }
        timezone: { type: string, enum: [America/Sao_Paulo] }
    ProgressSport:
      type: object
      nullable: true
      required: [id, slug, name, family, route_capable, derived_metric, behavior]
      properties:
        id: { type: string }
        slug: { type: string }
        name: { type: string }
        family: { type: string }
        route_capable: { type: boolean }
        derived_metric: { type: string, enum: [nenhuma, pace_km, pace_100m, velocidade_kmh, split_500m] }
        behavior: { type: string, enum: [pace, speed, pace_100m, distance_time], nullable: true, description: Derivado de metrica_derivada no Core; o cliente não deve inferir pelo slug. }
    ProgressComparison:
      type: object
      nullable: true
      required: [current, previous, delta, change_percent]
      properties:
        current: { type: number, nullable: true }
        previous: { type: number, nullable: true }
        delta: { type: number, nullable: true }
        change_percent: { type: number, nullable: true, description: Null quando previous é zero ou quando algum lado é indisponível. }
    ProgressUnits:
      type: object
      required: [duration, distance, elevation_gain, load, strength_volume, pace, pace_100m, speed, perceived_effort, training_load, count]
      properties:
        duration: { type: string, enum: [s] }
        distance: { type: string, enum: [m] }
        elevation_gain: { type: string, enum: [m] }
        load: { type: string, enum: [kg] }
        strength_volume: { type: string, enum: [kg] }
        pace: { type: string, enum: [s_per_km] }
        pace_100m: { type: string, enum: [s_per_100m] }
        speed: { type: string, enum: [km_h] }
        perceived_effort: { type: string, enum: [rpe_1_10] }
        training_load: { type: string, enum: [session_rpe_au] }
        count: { type: string, enum: [count] }
    ProgressPreviousRange:
      type: object
      required: [from, to, timezone]
      properties:
        from: { type: string, format: date }
        to: { type: string, format: date }
        timezone: { type: string, enum: [America/Sao_Paulo] }
    ProgressEffortSummary:
      type: object
      nullable: true
      required: [count, average, min, max]
      properties:
        count: { type: integer, minimum: 1 }
        average: { type: number, minimum: 1, maximum: 10 }
        min: { type: number, minimum: 1, maximum: 10 }
        max: { type: number, minimum: 1, maximum: 10 }
    ProgressConsistency:
      type: object
      required: [active_days, weeks_with_activity, weeks_in_range, planned_completion_rate]
      properties:
        active_days: { type: integer, minimum: 0 }
        weeks_with_activity: { type: integer, minimum: 0 }
        weeks_in_range: { type: integer, minimum: 1 }
        planned_completion_rate: { type: number, minimum: 0, maximum: 1, nullable: true }
    ProgressOverviewSummary:
      type: object
      required: [activities_count, active_days, total_duration_s, total_distance_m, elevation_gain_m, total_training_load, perceived_effort, total_workouts, planned_workouts, completed_workouts, consistency]
      properties:
        activities_count: { type: integer, minimum: 0 }
        active_days: { type: integer, minimum: 0 }
        total_duration_s: { type: number, minimum: 0, nullable: true }
        total_distance_m: { type: number, minimum: 0, nullable: true }
        elevation_gain_m: { type: number, minimum: 0, nullable: true }
        total_training_load: { type: number, minimum: 0, nullable: true, description: 'duration_minutes × perceived_effort, mesma semântica do Sport Hub Web.' }
        perceived_effort: { $ref: '#/components/schemas/ProgressEffortSummary' }
        total_workouts: { type: integer, minimum: 0 }
        planned_workouts: { type: integer, minimum: 0 }
        completed_workouts: { type: integer, minimum: 0 }
        consistency: { $ref: '#/components/schemas/ProgressConsistency' }
    ProgressOverviewData:
      type: object
      required: [range, previous_range, sport, summary, adherence, previous_period, units]
      properties:
        range: { $ref: '#/components/schemas/ProgressRange' }
        previous_range: { $ref: '#/components/schemas/ProgressPreviousRange' }
        sport: { $ref: '#/components/schemas/ProgressSport' }
        summary: { $ref: '#/components/schemas/ProgressOverviewSummary' }
        adherence: { $ref: '#/components/schemas/ProgressAdherenceData' }
        previous_period:
          type: object
          required: [activities_count, active_days, total_duration_s, total_distance_m, elevation_gain_m, total_training_load, perceived_effort_average]
          properties:
            activities_count: { $ref: '#/components/schemas/ProgressComparison' }
            active_days: { $ref: '#/components/schemas/ProgressComparison' }
            total_duration_s: { $ref: '#/components/schemas/ProgressComparison' }
            total_distance_m: { $ref: '#/components/schemas/ProgressComparison' }
            elevation_gain_m: { $ref: '#/components/schemas/ProgressComparison' }
            total_training_load: { $ref: '#/components/schemas/ProgressComparison' }
            perceived_effort_average: { $ref: '#/components/schemas/ProgressComparison' }
        units: { $ref: '#/components/schemas/ProgressUnits' }
    ProgressOverviewResponse:
      type: object
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/ProgressOverviewData' }
    ProgressTimeseriesPoint:
      type: object
      required: [start, end, value]
      properties:
        start: { type: string, format: date }
        end: { type: string, format: date }
        value: { type: number, nullable: true, description: Zero representa ausência real no bucket quando a métrica é somável/contável; null representa dado indisponível. }
    ProgressTimeseriesData:
      type: object
      required: [range, sport, metric, bucket, unit, data]
      properties:
        range: { $ref: '#/components/schemas/ProgressRange' }
        sport: { $ref: '#/components/schemas/ProgressSport' }
        metric: { type: string, enum: [activities, duration, distance, elevation_gain, training_load, perceived_effort, strength_volume] }
        bucket: { type: string, enum: [day, week, month] }
        unit: { type: string, enum: [count, s, m, session_rpe_au, rpe_1_10, kg] }
        data:
          type: array
          items: { $ref: '#/components/schemas/ProgressTimeseriesPoint' }
    ProgressTimeseriesResponse:
      type: object
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/ProgressTimeseriesData' }
    ProgressSportDistributionItem:
      type: object
      required: [sport, activities_count, duration_s, distance_m, elevation_gain_m, activities_percentage]
      properties:
        sport: { $ref: '#/components/schemas/ProgressSport' }
        activities_count: { type: integer, minimum: 0 }
        duration_s: { type: number, minimum: 0, nullable: true }
        distance_m: { type: number, minimum: 0, nullable: true }
        elevation_gain_m: { type: number, minimum: 0, nullable: true }
        activities_percentage: { type: number, minimum: 0, maximum: 100 }
    ProgressSportsData:
      type: object
      required: [range, data, units]
      properties:
        range: { $ref: '#/components/schemas/ProgressRange' }
        data:
          type: array
          items: { $ref: '#/components/schemas/ProgressSportDistributionItem' }
        units: { $ref: '#/components/schemas/ProgressUnits' }
    ProgressSportsResponse:
      type: object
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/ProgressSportsData' }
    ProgressCalendarDay:
      type: object
      required: [date, activities_count, duration_s, distance_m, training_load]
      properties:
        date: { type: string, format: date }
        activities_count: { type: integer, minimum: 0 }
        duration_s: { type: number, minimum: 0, nullable: true }
        distance_m: { type: number, minimum: 0, nullable: true }
        training_load: { type: number, minimum: 0, nullable: true }
    ProgressCalendarData:
      type: object
      required: [range, sport, data, units]
      properties:
        range: { $ref: '#/components/schemas/ProgressRange' }
        sport: { $ref: '#/components/schemas/ProgressSport' }
        data:
          type: array
          items: { $ref: '#/components/schemas/ProgressCalendarDay' }
        units: { $ref: '#/components/schemas/ProgressUnits' }
    ProgressCalendarResponse:
      type: object
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/ProgressCalendarData' }
    ProgressCardioSummary:
      type: object
      required: [activities_count, active_days, duration_s, distance_m, elevation_gain_m, longest_distance_m, longest_duration_s, average_pace_s_per_km, average_pace_s_per_100m, average_speed_kmh, paired_activities_count]
      properties:
        activities_count: { type: integer, minimum: 0 }
        active_days: { type: integer, minimum: 0 }
        duration_s: { type: number, minimum: 0, nullable: true }
        distance_m: { type: number, minimum: 0, nullable: true }
        elevation_gain_m: { type: number, minimum: 0, nullable: true }
        longest_distance_m: { type: number, minimum: 0, nullable: true }
        longest_duration_s: { type: number, minimum: 0, nullable: true }
        average_pace_s_per_km: { type: number, minimum: 0, nullable: true }
        average_pace_s_per_100m: { type: number, minimum: 0, nullable: true }
        average_speed_kmh: { type: number, minimum: 0, nullable: true }
        paired_activities_count: { type: integer, minimum: 0 }
    ProgressCardioSeriesPoint:
      type: object
      required: [start, end, distance_m, duration_s, average_pace_s_per_km, average_pace_s_per_100m, average_speed_kmh]
      properties:
        start: { type: string, format: date }
        end: { type: string, format: date }
        distance_m: { type: number, minimum: 0, nullable: true }
        duration_s: { type: number, minimum: 0, nullable: true }
        average_pace_s_per_km: { type: number, minimum: 0, nullable: true }
        average_pace_s_per_100m: { type: number, minimum: 0, nullable: true }
        average_speed_kmh: { type: number, minimum: 0, nullable: true }
    ProgressCardioTrends:
      type: object
      required: [distance, duration, activities, performance]
      properties:
        distance: { $ref: '#/components/schemas/ProgressComparison' }
        duration: { $ref: '#/components/schemas/ProgressComparison' }
        activities: { $ref: '#/components/schemas/ProgressComparison' }
        performance: { $ref: '#/components/schemas/ProgressComparison' }
    ProgressCardioData:
      type: object
      required: [range, sport, behavior, current, previous, trends, bucket, timeseries, units]
      properties:
        range: { $ref: '#/components/schemas/ProgressRange' }
        sport: { $ref: '#/components/schemas/ProgressSport' }
        behavior: { type: string, enum: [pace, speed, pace_100m, distance_time] }
        current: { $ref: '#/components/schemas/ProgressCardioSummary' }
        previous: { $ref: '#/components/schemas/ProgressCardioSummary' }
        trends: { $ref: '#/components/schemas/ProgressCardioTrends' }
        bucket: { type: string, enum: [day, week, month] }
        timeseries:
          type: array
          items: { $ref: '#/components/schemas/ProgressCardioSeriesPoint' }
        units: { $ref: '#/components/schemas/ProgressUnits' }
    ProgressCardioResponse:
      type: object
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/ProgressCardioData' }
    ProgressStrengthExerciseDistribution:
      type: object
      required: [exercise_id, name, sets_count, reps, volume_load_kg]
      properties:
        exercise_id: { type: string, nullable: true }
        name: { type: string }
        sets_count: { type: integer, minimum: 0 }
        reps: { type: integer, minimum: 0 }
        volume_load_kg: { type: number, minimum: 0, nullable: true }
    ProgressStrengthMuscleDistribution:
      type: object
      required: [name, completed_sets]
      properties:
        name: { type: string }
        completed_sets: { type: integer, minimum: 0 }
    ProgressStrengthData:
      type: object
      required: [range, sport, sessions, active_days, total_sets, completed_sets, total_reps, volume_load_kg, exercises_count, duration_s, distribution_by_exercise, distribution_by_primary_muscle, units]
      properties:
        range: { $ref: '#/components/schemas/ProgressRange' }
        sport: { $ref: '#/components/schemas/ProgressSport' }
        sessions: { type: integer, minimum: 0 }
        active_days: { type: integer, minimum: 0 }
        total_sets: { type: integer, minimum: 0 }
        completed_sets: { type: integer, minimum: 0 }
        total_reps: { type: integer, minimum: 0, nullable: true }
        volume_load_kg: { type: number, minimum: 0, nullable: true, description: Soma de repetitions × load_kg somente em séries concluídas com ambos numéricos. }
        exercises_count: { type: integer, minimum: 0 }
        duration_s: { type: number, minimum: 0, nullable: true }
        distribution_by_exercise:
          type: array
          items: { $ref: '#/components/schemas/ProgressStrengthExerciseDistribution' }
        distribution_by_primary_muscle:
          type: array
          items: { $ref: '#/components/schemas/ProgressStrengthMuscleDistribution' }
        units: { $ref: '#/components/schemas/ProgressUnits' }
    ProgressStrengthResponse:
      type: object
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/ProgressStrengthData' }
    ProgressExerciseSummary:
      type: object
      required: [exercise_id, name, sessions_count, sets_count, last_performed_at, best_load_kg, recent_load_kg, recent_volume_load_kg]
      properties:
        exercise_id: { type: string }
        name: { type: string }
        sessions_count: { type: integer, minimum: 0 }
        sets_count: { type: integer, minimum: 0 }
        last_performed_at: { type: string, format: date-time }
        best_load_kg: { type: number, minimum: 0, nullable: true, description: 'MAX(carga_kg) all-time em série concluída, mesma definição da Training Platform.' }
        recent_load_kg: { type: number, minimum: 0, nullable: true }
        recent_volume_load_kg: { type: number, minimum: 0, nullable: true }
    ProgressExerciseListData:
      type: object
      required: [range, data, meta]
      properties:
        range: { $ref: '#/components/schemas/ProgressRange' }
        data:
          type: array
          items: { $ref: '#/components/schemas/ProgressExerciseSummary' }
        meta:
          type: object
          required: [page, limit, has_more]
          properties:
            page: { type: integer, minimum: 1 }
            limit: { type: integer, minimum: 1, maximum: 100 }
            has_more: { type: boolean }
    ProgressExerciseListResponse:
      type: object
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/ProgressExerciseListData' }
    ProgressExerciseSet:
      type: object
      required: [number, repetitions, load_kg, rir, rpe, completed]
      properties:
        number: { type: integer, minimum: 1 }
        repetitions: { type: integer, minimum: 0, nullable: true }
        load_kg: { type: number, minimum: 0, nullable: true }
        rir: { type: number, nullable: true }
        rpe: { type: number, nullable: true }
        completed: { type: boolean }
    ProgressExerciseSession:
      type: object
      required: [activity_id, date, title, sets_count, completed_sets, total_reps, best_load_kg, volume_load_kg, sets]
      properties:
        activity_id: { type: string }
        date: { type: string, format: date }
        title: { type: string, nullable: true }
        sets_count: { type: integer, minimum: 0 }
        completed_sets: { type: integer, minimum: 0 }
        total_reps: { type: integer, minimum: 0, nullable: true }
        best_load_kg: { type: number, minimum: 0, nullable: true }
        volume_load_kg: { type: number, minimum: 0, nullable: true }
        sets:
          type: array
          items: { $ref: '#/components/schemas/ProgressExerciseSet' }
    ProgressExerciseDetailData:
      type: object
      required: [range, exercise, sessions_count, sets_count, best_load_kg, recent_load_kg, recent_volume_load_kg, data, units]
      properties:
        range: { $ref: '#/components/schemas/ProgressRange' }
        exercise:
          type: object
          required: [id, name]
          properties:
            id: { type: string }
            name: { type: string }
        sessions_count: { type: integer, minimum: 0 }
        sets_count: { type: integer, minimum: 0 }
        best_load_kg: { type: number, minimum: 0, nullable: true }
        recent_load_kg: { type: number, minimum: 0, nullable: true }
        recent_volume_load_kg: { type: number, minimum: 0, nullable: true }
        data:
          type: array
          items: { $ref: '#/components/schemas/ProgressExerciseSession' }
        units: { $ref: '#/components/schemas/ProgressUnits' }
    ProgressExerciseDetailResponse:
      type: object
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/ProgressExerciseDetailData' }
    ProgressPlannedActualDuration:
      type: object
      required: [planned_duration_s, actual_duration_s, comparable_completed_count]
      properties:
        planned_duration_s: { type: number, minimum: 0, nullable: true }
        actual_duration_s: { type: number, minimum: 0, nullable: true }
        comparable_completed_count: { type: integer, minimum: 0 }
    ProgressPlannedActualDistance:
      type: object
      required: [planned_distance_m, actual_distance_m, comparable_completed_count]
      properties:
        planned_distance_m: { type: number, minimum: 0, nullable: true }
        actual_distance_m: { type: number, minimum: 0, nullable: true }
        comparable_completed_count: { type: integer, minimum: 0 }
      description: Só é comparada para modalidades route-capable com distância planejada e executada disponíveis.
    ProgressAdherenceData:
      type: object
      required: [total_count, planned_count, completed_count, cancelled_count, pending_count, past_due_count, due_count, completion_rate, planned_vs_executed]
      properties:
        total_count: { type: integer, minimum: 0 }
        planned_count: { type: integer, minimum: 0 }
        completed_count: { type: integer, minimum: 0 }
        cancelled_count: { type: integer, minimum: 0 }
        pending_count: { type: integer, minimum: 0 }
        past_due_count: { type: integer, minimum: 0 }
        due_count: { type: integer, minimum: 0 }
        completion_rate: { type: number, minimum: 0, maximum: 1, nullable: true, description: completed_count / (completed_count + past_due_count). Futuro não entra no denominador. }
        planned_vs_executed:
          type: object
          required: [duration, distance]
          properties:
            duration: { $ref: '#/components/schemas/ProgressPlannedActualDuration' }
            distance: { $ref: '#/components/schemas/ProgressPlannedActualDistance' }
    ProgressAdherenceWithRange:
      allOf:
        - { $ref: '#/components/schemas/ProgressAdherenceData' }
        - type: object
          required: [range, sport]
          properties:
            range: { $ref: '#/components/schemas/ProgressRange' }
            sport: { $ref: '#/components/schemas/ProgressSport' }
    ProgressAdherenceResponse:
      type: object
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/ProgressAdherenceWithRange' }
    ProgressDashboardData:
      type: object
      required: [range, overview, timeseries, sports, adherence, strength]
      properties:
        range: { $ref: '#/components/schemas/ProgressRange' }
        overview: { $ref: '#/components/schemas/ProgressOverviewData' }
        timeseries: { $ref: '#/components/schemas/ProgressTimeseriesData' }
        sports: { $ref: '#/components/schemas/ProgressSportsData' }
        adherence: { $ref: '#/components/schemas/ProgressAdherenceWithRange' }
        strength:
          nullable: true
          allOf:
            - { $ref: '#/components/schemas/ProgressStrengthData' }
    ProgressDashboardResponse:
      type: object
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/ProgressDashboardData' }
    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string, format: password }
        device_id: { type: string, maxLength: 128 }
        device_name: { type: string, maxLength: 120 }
        platform: { type: string, enum: [android, ios, web, other] }
    SportRef:
      type: object
      required: [id, slug, name]
      properties:
        id: { type: string }
        slug: { type: string }
        name: { type: string }
        family: { type: string, nullable: true }
        route_capable: { type: boolean }
    SportCatalogItem:
      type: object
      required: [id, slug, name, family, route_capable]
      properties:
        id: { type: string }
        slug: { type: string }
        name: { type: string }
        family: { type: string }
        route_capable: { type: boolean }
    SportCatalogResponse:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/SportCatalogItem' }
    PersonPublic:
      type: object
      required: [id, username, display_name, avatar_url, bio, trainer_mode]
      properties:
        id: { type: string }
        username: { type: string, nullable: true }
        display_name: { type: string }
        avatar_url: { type: string, nullable: true }
        bio: { type: string, nullable: true, description: Omitido semanticamente como null quando a visibilidade/relação não permite exposição. }
        trainer_mode: { type: boolean }
    PeopleCapabilities:
      type: object
      required: [friends_enabled, trainer_enabled]
      properties:
        friends_enabled: { type: boolean }
        trainer_enabled: { type: boolean }
    PeopleSearchItem:
      allOf:
        - { $ref: '#/components/schemas/PersonPublic' }
        - type: object
          properties:
            friendship_status: { type: string, enum: [incoming, outgoing, accepted, rejected, blocked], nullable: true }
            coaching_status: { type: string, enum: [pending, accepted, rejected, ended], nullable: true }
    PeopleSearchResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [items, capabilities]
          properties:
            items: { type: array, maxItems: 20, items: { $ref: '#/components/schemas/PeopleSearchItem' } }
            capabilities: { $ref: '#/components/schemas/PeopleCapabilities' }
    PersonDetail:
      allOf:
        - { $ref: '#/components/schemas/PersonPublic' }
        - type: object
          properties:
            friendship_status: { type: string, nullable: true }
            coaching_status: { type: string, nullable: true }
            capabilities:
              type: object
              properties:
                can_send_friend_request: { type: boolean }
                can_request_coaching: { type: boolean }
            people_capabilities: { $ref: '#/components/schemas/PeopleCapabilities' }
    PersonDetailResponse:
      type: object
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/PersonDetail' }
    Friendship:
      type: object
      required: [id, status, person, capabilities]
      properties:
        id: { type: string }
        status: { type: string, enum: [incoming, outgoing, accepted] }
        person: { $ref: '#/components/schemas/PersonPublic' }
        capabilities:
          type: object
          required: [can_accept, can_reject, can_delete]
          properties:
            can_accept: { type: boolean }
            can_reject: { type: boolean }
            can_delete: { type: boolean }
    FriendsData:
      type: object
      required: [friends, incoming, outgoing]
      properties:
        friends: { type: array, items: { $ref: '#/components/schemas/Friendship' } }
        incoming: { type: array, items: { $ref: '#/components/schemas/Friendship' } }
        outgoing: { type: array, items: { $ref: '#/components/schemas/Friendship' } }
    FriendsResponse:
      type: object
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/FriendsData' }
    CoachingPermissions:
      type: object
      required: [can_prescribe, can_view_schedule, can_view_activities, can_view_feedback]
      properties:
        can_prescribe: { type: boolean }
        can_view_schedule: { type: boolean }
        can_view_activities: { type: boolean }
        can_view_feedback: { type: boolean }
    CoachingPermissionsPatch:
      type: object
      additionalProperties: false
      properties:
        can_prescribe: { type: boolean }
        can_view_schedule: { type: boolean }
        can_view_activities: { type: boolean }
        can_view_feedback: { type: boolean }
    CoachingLink:
      type: object
      required: [id, status, trainer, athlete, requested_by, permissions, capabilities]
      properties:
        id: { type: string }
        status: { type: string, enum: [pending, accepted, rejected, ended] }
        trainer: { $ref: '#/components/schemas/PersonPublic' }
        athlete: { $ref: '#/components/schemas/PersonPublic' }
        requested_by: { type: string, enum: [trainer, athlete] }
        permissions: { $ref: '#/components/schemas/CoachingPermissions' }
        capabilities:
          type: object
          required: [can_accept, can_reject, can_cancel, can_end, can_edit_permissions]
          properties:
            can_accept: { type: boolean }
            can_reject: { type: boolean }
            can_cancel: { type: boolean }
            can_end: { type: boolean }
            can_edit_permissions: { type: boolean }
    CoachingData:
      type: object
      required: [trainers, athletes, incoming, outgoing]
      properties:
        trainers: { type: array, items: { $ref: '#/components/schemas/CoachingLink' } }
        athletes: { type: array, items: { $ref: '#/components/schemas/CoachingLink' } }
        incoming: { type: array, items: { $ref: '#/components/schemas/CoachingLink' } }
        outgoing: { type: array, items: { $ref: '#/components/schemas/CoachingLink' } }
    CoachingResponse:
      type: object
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/CoachingData' }
    WorkoutExecutionSet:
      type: object
      required: [id, number, actual_repetitions, actual_load, actual_duration_s, actual_distance_m, repetitions, load, duration_s, distance_m, completed]
      properties:
        id: { type: string }
        number: { type: integer, minimum: 1 }
        actual_repetitions: { type: string, nullable: true }
        actual_load: { type: string, nullable: true }
        actual_duration_s: { type: integer, nullable: true }
        actual_distance_m: { type: number, nullable: true }
        repetitions: { type: string, nullable: true, description: Alias do valor realizado; nunca recebe prescription como fallback. }
        load: { type: string, nullable: true, description: Alias do valor realizado; nunca recebe prescription como fallback. }
        duration_s: { type: integer, nullable: true, description: Alias de actual_duration_s. }
        distance_m: { type: number, nullable: true, description: Alias de actual_distance_m. }
        completed: { type: boolean }
    WorkoutExecutionExercise:
      type: object
      required: [id, exercise_id, name, sets, completed]
      properties:
        id: { type: string }
        exercise_id: { type: string, nullable: true }
        name: { type: string }
        sets: { type: array, items: { $ref: '#/components/schemas/WorkoutExecutionSet' } }
        completed: { type: boolean }
    WorkoutExecutionSummary:
      type: object
      required: [available, execution_mode, workout_id, exercises]
      properties:
        available: { type: boolean }
        execution_mode: { type: string, enum: [session, quick_register], nullable: true }
        workout_id: { type: string }
        session_id: { type: string, nullable: true }
        started_at: { type: string, format: date-time, nullable: true }
        ended_at: { type: string, format: date-time, nullable: true }
        activity_id: { type: string, nullable: true }
        activity:
          type: object
          nullable: true
          required: [id]
          properties:
            id: { type: string }
        exercises: { type: array, items: { $ref: '#/components/schemas/WorkoutExecutionExercise' }, description: Quick Register retorna lista vazia; nenhuma série planejada é fabricada como realizada. }
    SelfProfile:
      type: object
      required: [id, name, username, email, avatar_url, role, onboarding_complete, preferences, bio, phone, birth_date, profile_visibility, discoverable]
      properties:
        id: { type: string }
        name: { type: string }
        username: { type: string, nullable: true }
        email: { type: string, format: email }
        avatar_url: { type: string, nullable: true }
        role: { type: string }
        onboarding_complete: { type: boolean }
        preferences: { type: object, additionalProperties: true }
        bio: { type: string, nullable: true }
        phone: { type: string, nullable: true }
        birth_date: { type: string, format: date, nullable: true }
        profile_visibility: { type: string, enum: [privado, amigos, publico] }
        discoverable: { type: boolean }
    SelfProfileResponse:
      type: object
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/SelfProfile' }
    AppendSetData:
      type: object
      required: [session, set_id, reused]
      properties:
        session: { $ref: '#/components/schemas/WorkoutSession' }
        set_id: { type: string }
        reused: { type: boolean }
    AppendSetResponse:
      type: object
      required: [data]
      properties:
        data: { $ref: '#/components/schemas/AppendSetData' }
    ManualActivityCreateResponse:
      type: object
      required: [data, reused]
      properties:
        data: { $ref: '#/components/schemas/ActivityDetail' }
        reused: { type: boolean }
    ProfilePatchRequest:
      type: object
      properties:
        name: { type: string, maxLength: 60 }
        username: { type: string, nullable: true }
        bio: { type: string, maxLength: 1000, nullable: true }
        phone: { type: string, maxLength: 20, nullable: true }
        birth_date: { type: string, format: date, nullable: true }
    PrivacyPatchRequest:
      type: object
      additionalProperties: false
      properties:
        default_activity_visibility: { type: string, enum: [privado, amigos, publico] }
        hide_route_start_m: { type: integer, minimum: 0, maximum: 10000 }
        hide_route_end_m: { type: integer, minimum: 0, maximum: 10000 }
        profile_visibility: { type: string, enum: [privado, amigos, publico] }
        discoverable: { type: boolean }
    EquipmentMutationRequest:
      type: object
      properties:
        name: { type: string, maxLength: 120 }
        category: { type: string, maxLength: 40 }
        brand: { type: string, maxLength: 80, nullable: true }
        model: { type: string, maxLength: 100, nullable: true }
        started_on: { type: string, format: date, nullable: true }
        retired_on: { type: string, format: date, nullable: true }
        initial_distance_km: { type: number, minimum: 0 }
        distance_alert_km: { type: number, exclusiveMinimum: 0, nullable: true }
        notes: { type: string, nullable: true }
        active: { type: boolean }
    ManualStrengthSet:
      type: object
      properties:
        type: { type: string, enum: [aquecimento, trabalho, drop, falha, outro] }
        repetitions: { type: integer, minimum: 0, maximum: 999, nullable: true }
        load_kg: { type: number, minimum: 0, nullable: true }
        duration_s: { type: number, format: double, minimum: 0, nullable: true }
        distance_m: { type: number, minimum: 0, nullable: true }
        rir: { type: number, minimum: 0, maximum: 10, nullable: true }
        rpe: { type: number, minimum: 1, maximum: 10, nullable: true }
        completed: { type: boolean, default: true }
        notes: { type: string, nullable: true }
    ManualStrengthExercise:
      type: object
      properties:
        exercise_id: { type: string, nullable: true }
        name: { type: string, nullable: true }
        sets:
          type: array
          items: { $ref: '#/components/schemas/ManualStrengthSet' }
    ActivityStrengthPlannedTarget:
      type: object
      properties:
        reps:
          allOf: [{ $ref: '#/components/schemas/WorkoutRepTarget' }]
          nullable: true
        load: { type: string, nullable: true }
        duration_s: { type: number, format: double, minimum: 0, nullable: true }
        distance_m: { type: number, format: double, minimum: 0, nullable: true }
        rest_after_s: { type: integer, minimum: 0, maximum: 86400, nullable: true }
    ActivityStrengthSet:
      type: object
      required: [number, type, repetitions, load_kg, duration_s, distance_m, rir, rpe, completed, notes]
      properties:
        number: { type: integer, minimum: 1 }
        type: { type: string }
        repetitions: { type: integer, minimum: 0, nullable: true }
        load_kg: { type: number, minimum: 0, nullable: true }
        duration_s: { type: number, format: double, minimum: 0, nullable: true }
        distance_m: { type: number, format: double, minimum: 0, nullable: true }
        rir: { type: number, nullable: true }
        rpe: { type: number, nullable: true }
        completed: { type: boolean }
        notes: { type: string, nullable: true }
        segment:
          allOf: [{ $ref: '#/components/schemas/WorkoutSessionSegment' }]
          nullable: true
        planned_target:
          allOf: [{ $ref: '#/components/schemas/ActivityStrengthPlannedTarget' }]
          nullable: true
    ActivityStrengthExercise:
      type: object
      required: [exercise_id, name, sets]
      properties:
        exercise_id: { type: string, nullable: true }
        name: { type: string }
        prescription_method: { type: string, enum: [standard, cluster, drop_set], default: standard }
        sets:
          type: array
          items: { $ref: '#/components/schemas/ActivityStrengthSet' }
    ManualActivityCreateRequest:
      type: object
      required: [sport, started_at]
      properties:
        sport: { type: string, description: ID ou slug de modalidade. }
        title: { type: string, maxLength: 255 }
        notes: { type: string, nullable: true }
        started_at: { type: string, format: date-time, description: ISO 8601 com offset obrigatório. }
        ended_at: { type: string, format: date-time, nullable: true }
        duration_s: { type: number, minimum: 0, nullable: true }
        distance_m: { type: number, minimum: 0, nullable: true }
        visibility: { type: string, enum: [privado, amigos, publico] }
        perceived_effort: { type: integer, minimum: 1, maximum: 10, nullable: true }
        equipment_ids: { type: array, items: { type: string } }
        workout_id: { type: string, nullable: true }
        strength_exercises:
          type: array
          items: { $ref: '#/components/schemas/ManualStrengthExercise' }
    ActivityPatchRequest:
      type: object
      required: [if_version]
      properties:
        if_version: { type: string, minLength: 1, description: version retornada pelo ActivityDetail. Obrigatória para impedir last-write-wins silencioso. }
        title: { type: string, maxLength: 255 }
        notes: { type: string, nullable: true }
        perceived_effort: { type: integer, minimum: 1, maximum: 10, nullable: true }
        visibility: { type: string, enum: [privado, amigos, publico] }
        started_at: { type: string, format: date-time }
        ended_at: { type: string, format: date-time, nullable: true }
        duration_s: { type: number, minimum: 0, nullable: true }
        distance_m: { type: number, minimum: 0, nullable: true, description: Mutável somente quando capabilities.can_edit_metrics=true; Activities com rota GPS não aceitam override arbitrário. }
        equipment_ids: { type: array, items: { type: string } }
        strength_exercises:
          type: array
          description: Mutável somente para Activity manual/API de força quando capabilities.can_edit_strength=true.
          items: { $ref: '#/components/schemas/ManualStrengthExercise' }
    ActivityMutationCapabilities:
      type: object
      required: [can_edit, can_delete, can_edit_title, can_edit_notes, can_edit_effort, can_edit_visibility, can_edit_datetime, can_edit_sport, can_edit_equipment, can_edit_metrics, can_edit_strength, can_trim_route]
      properties:
        can_edit: { type: boolean }
        can_delete: { type: boolean }
        can_edit_title: { type: boolean }
        can_edit_notes: { type: boolean }
        can_edit_effort: { type: boolean }
        can_edit_visibility: { type: boolean }
        can_edit_datetime: { type: boolean }
        can_edit_sport: { type: boolean }
        can_edit_equipment: { type: boolean }
        can_edit_metrics: { type: boolean }
        can_edit_strength: { type: boolean }
        can_trim_route: { type: boolean }
    ActivitySummary:
      type: object
      required: [id, title, sport, started_at, status, visibility, origin]
      properties:
        id: { type: string }
        title: { type: string }
        sport: { $ref: '#/components/schemas/SportRef' }
        started_at: { type: string, format: date-time }
        ended_at: { type: string, format: date-time, nullable: true }
        status: { type: string }
        visibility: { type: string, enum: [privado, amigos, publico] }
        origin: { type: string, enum: [manual, gps, importacao, api] }
        origin_provider: { type: string, nullable: true }
        perceived_effort: { type: integer, minimum: 1, maximum: 10, nullable: true }
        distance_m: { type: number, format: double, minimum: 0, nullable: true }
        duration_s: { type: number, format: double, minimum: 0, nullable: true }
        elevation_gain_m: { type: number, format: double, minimum: 0, nullable: true }
        average_speed_mps: { type: number, format: double, minimum: 0, nullable: true, description: Derivada somente quando distância e duração confiáveis existem. }
    ActivityListResponse:
      type: object
      required: [data, pagination]
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/ActivitySummary' }
        pagination:
          type: object
          required: [page, limit, total, total_pages]
          properties:
            page: { type: integer }
            limit: { type: integer }
            total: { type: integer }
            total_pages: { type: integer }
    ActivityRoutePoint:
      type: object
      required: [lat, lon]
      properties:
        lat: { type: number, format: double, minimum: -90, maximum: 90 }
        lon: { type: number, format: double, minimum: -180, maximum: 180 }
        altitude_m: { type: number, format: double, nullable: true }
        accuracy_m: { type: number, format: double, minimum: 0, nullable: true }
        timestamp_ms: { type: integer, format: int64, nullable: true }
    ActivityRoute:
      type: object
      required: [mode, points]
      properties:
        mode: { type: string }
        points:
          type: array
[...]
